@import '../App.css';

.login-wrapper{
    margin:auto 0px;
    background-color: var(--primary1);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
}


.login-container{
    padding:10px;
    margin:auto 0px;
    max-height:50vh;
    width:100vw;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px  rgba(255, 255, 255, 0.28);
}



@media (min-width: 576px) {
    .login-container {
        height:auto;
        width: 400px;
    }
  }
 